body, td, div, p, a, font, span, input {
  font-family:arial,sans-serif;
  font-size:12;
}

.content {
  padding: 0 5em 0 5em;
}

a img { border: 0;}

div.title {
  padding: 0.1em 0.4em 0.1em 0.4em;
  font-size: 160%;
  font-weight: bold;
  border-top: solid 1px #3366cc;
  background-color: #e5ecf9;
}

div.title .title_actions {
  float: right;
}

div.title .title_actions * {
  margin-left: 1em;
}

div.notice, div.error {
  margin-top: 0.2em;
  text-align: center;
  font-weight: bold;
}

div.error {
  color: red;
}

div.errorExplanation {
  color: red;
}

a.delete {
  color: red;
}

.name_value th {
  padding-top: 0.5em;
  text-align: right;
  vertical-align: top;
  font-size: 90%;
}

.name_value td {
  padding-top: 0.5em;
  padding-left: 1em;
  vertical-align: top;
}